asgiref==3.2.7
azure-common==1.1.25
azure-storage-blob==2.1.0
azure-storage-common==2.1.0
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
cryptography==2.9
Django==3.0.5
django-cors-headers==3.2.1
django-debug-toolbar==2.2
django-pydenticon==0.2
django-storages==1.9.1
djangorestframework==3.11.0
djangorestframework-jwt==1.11.0
entrypoints==0.3
flake8==3.7.9
httpie==2.0.0
idna==2.9
mccabe==0.6.1
Pillow==7.1.1
pycodestyle==2.5.0
pycparser==2.20
pydenticon==0.3.1
pyflakes==2.1.1
Pygments==2.6.1
PyJWT==1.7.1
python-dateutil==2.8.1
pytz==2019.3
requests==2.23.0
six==1.14.0
sqlparse==0.3.1
urllib3==1.25.8
