.wrappers {
  width: 1024px;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "header header header"
    "container container container"
    "footer footer footer";
  margin: 10px auto;
  .headers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: header;
  }
  .containers {
    grid-area: container;
  }
  .footers {
    grid-area: footer;
  }
}