.modal__container{
  display: flex;
  &__photo {
    width: 60%;
    height: 100%;
  }
  .modal__content{
    width:100%;
    .modal__header {
      width:100%;
      height: 72px;
      padding-left: 1em;
      padding-top: 1em;
      border-bottom: 1px solid #efefef;
      &--name {
        margin-left: 1em;
      }
    }
  }
}