.user {
  height: 13rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #efefef;
  margin-bottom: 3rem;
  &__avatar {
    display: flex;
    width: 18.5rem;
    justify-content: center;
    align-items: center;
  }
  &__info {
    width: 100%;
    &--count {
      padding-left: 0;
      list-style-type: none;
      display: flex;
      font-size: 16px;
      color: #262626;
      li {
        margin-right: 3rem;
      }
      .count{
        font-weight: 600;
        font-size: 18px;
      }
    }
  }
}
