.suggestion{
  display: flex;
  align-items: center;
  position: relative;
  .suggestion__user{
    display:flex;
    padding: 10px;
    .username{
      padding-left: 10px;
    }
  }
  .action{
    position: absolute;
    right: 0;
  }
}